body {
    font-family: "Montserrat";
    background-color: #BFCCB5;
}

/* title */

.title {
    background-image:url("../wallhaven-1.jpg");
    color: black;
}

/* Feuture */

.hh {
    color: #fff;
   font-family: 'Open Sans' !important;
   padding: 2% 50px;
}

.feature-box {
    text-align: center;
    padding: 4.5%;
}

.ml-1 {
    margin-left: (-spacer * .25) !important;
}

.b-1-h3 {
    padding: 5% 7%;
    text-align: center;
    font-size: xx-large;
    font-family: 'Sigmar', cursive;
}

#feature {
    background-image: url("../4.jpg");
    color: #fff;
}

.img-title-1 {
    padding-bottom: 20px;
}

.img-title-2 {
    padding-bottom: 32px;
}

.img-title {
    padding-bottom: 10px;
}

/* Novels */

.navbar-toggler{
    padding-right: 0%;
}

/* footer */


#footer {
    padding: 7% 15%;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}
